<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a href="#" class="navbar-brand"><b>QUẢN LÝ BÃI ĐỖ XE Ô TÔ</b></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav ml-auto">
		
		</div>
		<div class="navbar-nav ml-auto">
			<a href="#" class="nav-item nav-link"><i class="fa fa-sign-in"></i> Đăng nhập</a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-user-o"></i> Đăng ký</a>
			<div class="nav-item dropdown login-dropdown">
				<!--				<a href="#" class="nav-item nav-link"><i class="fa fa-sign-in"></i> Đăng nhập</a>-->
				<!--				<a href="#" class="nav-item nav-link"><i class="fa fa-user-o"></i> Đăng ký</a>-->
				<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle"><i
					class="fa fa-user-o"></i> Nguyễn Văn A</a>
				<div class="dropdown-menu">
					<a href="#" class="dropdown-item">
						<i class="fa fa-users"></i>
						<span class="ml-3">Quản lý nhân viên</span>
					
					</a>
					<a href="#" class="dropdown-item"><i class="fa fa-users"></i> <span
						class="ml-3">Quản lý khách hàng</span>
					</a>
					<a href="#" class="dropdown-item"><i class="fa fa-car"></i><span
						class="ml-3">Quản lý xe đã đăng ký</span>
					</a>
					<a href="#" class="dropdown-item"><i class="fa fa-car"></i><span
						class="ml-3">Quản lý xe vào/ra</span> </a>
					<a href="#" class="dropdown-item"><i class="fa fa-dollar"></i><span
						class="ml-4">Quản lý thu chi</span> </a>
					<a href="#" class="dropdown-item"><i class="fa fa-bar-chart"></i><span
						class="ml-3">Thống kê</span> </a>
					<a href="#" class="dropdown-item"><i class="fa fa-sign-out"></i><span
						class="ml-3">Đăng xuất</span> </a>
					<!--						<a href="#" class="dropdown-item"><i class="fa fa-sign-out"></i><span-->
					<!--							class="ml-3">Đăng xuất</span> </a>-->
					<!--						<a href="#" class="dropdown-item"><i class="fa fa-sign-out"></i><span-->
					<!--							class="ml-3">Đăng xuất</span> </a>-->
					<!--						<a href="#" class="dropdown-item"><i class="fa fa-sign-out"></i><span-->
					<!--							class="ml-3">Đăng xuất</span> </a>-->
					<!--						<a href="#" class="dropdown-item"><i class="fa fa-sign-out"></i><span-->
					<!--							class="ml-3">Đăng xuất</span> </a>-->
				
				</div>
			</div>
		</div>
	</div>
</nav>

